<div id="rootDivs">
  <button class="btn btn-primary my-3" (click)="onAddItem()">Add new</button>
  <div (cdkDragMoved)="dragMoved($event,i, box)" #box ngModel="box" class="example-box" id={{item}} cdkDrag
    *ngFor="let item of node; let i = index">
    {{item}}
    <div>
      <img src="../../assets/dot-svgrepo-com.svg" (click)="dotClicked(dot,i)" class="cursor-pointer dot dot-{{i}}"
        (ngModel)="dot" #dot alt="dot" *ngFor="let dote of dots; let i = index;">
    </div>
  </div>
  <lib-liner [pointerPosition]="pointerPosition" [distance]="distance" [pointCordinate]="pointCordinate" [id]="id"
    [dotIndex]="dotIndex"></lib-liner>
</div>
